* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
}

.p-relative{
    position: relative;
}

.p-absolute {
    position: absolute;
}

main {
    background-color: black;
    width: 100vw;
    height: 100vh;


}


section.container {
    background-color: black;   
    width: 90vw;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    
}

div.people {
    background-image: url(../img/Castello-di-Eltz.webp);
    width: 12rem;
    height: 6rem;
    background-size: cover;
    display: inline-block;

}

div.upper-bar {
    background-color: gray;
    width: 8rem;
    height: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    position: absolute;
    bottom: 95%;
    left: 85%;


}

span.name {
    color: white;
    background-color: #68737c;
    opacity: 80%;
    position: absolute;
    top: 80%;
    font-size: small;

}